body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/background.jpg);
}

main{
  /* margin-bottom: 2em; */
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profile-pic{
  margin: 0 auto;  
}

.split-nav{
  /* background-image:  url(./assets/images/scribble.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  
}

.container {
  margin: auto;
  margin-top: 10px;
  max-width: 1200px;
}


#about-heading{
  padding: 40px;
  
}
#about-right{
  background-image:  url(./assets/images/blue.jpg)
  
}
#about-left{
  background-image:  url(./assets/images/blue.jpg)
  
}

.flex-row {
  display: flex;
  flex-wrap: wrap;

}

.footer {
  /* position: fixed; */
  /* margin-top: 1rem; */
  /* padding: 1rem; */
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.iconify{
  font-size: 55px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.about-me{
  padding: 30px;
}

#skills{
  margin: 0 auto;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 0em;
}

#tech-title{
  margin-top: 0;
  padding-top: 0;
}

#contact-form{
  text-align: left;
}

#btn-div{
  text-align: center;
}

#form-div{
  margin: 0 auto;
}

#contact-img{
display: inline;
float: left;
}

#form-container{
  background-image:  url(./assets/images/blue.jpg);
  text-align: center;
  display: flex;
  justify-content: center;
  
}
#message{
  min-width: 80%;
}


